{% extends "base.html" %}

{% block conteudo %}
<div class="conteudo-principal">
    <h2>Lista de Alunos Turma - {{codigo_turma}}</h2>

    <div class="conteudo-tabela">    
        <table>
            <!-- Cabeçalho da tabela -->
            <tr>
                <th>Matricula</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>E-mail</th>           
            </tr>
            <!-- Conteudo do corpo da tabela -->
            {% for aluno in alunos %}
                <tr>
                    <td>{{aluno[0]}}</td>
                    <td>{{aluno[1]}}</td>
                    <td>{{aluno[2]}}</td>
                    <td>{{aluno[3]}}</td>
                    <td>{{aluno[4]}}</td>
            {% endfor %}    
        </table>
        
        <a href="/listar/turmas" class="botao-primario">Voltar</a>
    </div>
</div>
{% endblock %}